$red: rgb(143, 10, 10);

.Ui{    
    width: 100%;
    border-radius: 2px;

    .health-bar{
        border: 1px solid black;
        height: 20px;
        .fill{
            background-color: $red;
            height: 100%;
        }
    }
}